@tailwind base;
@tailwind components;
@tailwind utilities;

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


::-webkit-scrollbar {
    width: 1rem; /* Set the scrollbar width */
}

::-webkit-scrollbar-track {
    background-color: rgb(35, 35, 35); /* Set the track background color */
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right, #ef4444, #f97316);   /* Set the thumb color */
    border-radius: 1rem; /* Round the edges of the thumb */
    border: 0.25rem solid transparent; /* Ensure transparency around thumb */
    background-clip: content-box; /* Clip background color to content box */
}
